header {
  background: linear-gradient(80deg, $primary 50%, #f9f9f9);
  color: #fff !important;
  border-bottom: 2px solid darken($primary, 10%) !important;
}

.navbar-brand img {
  vertical-align: middle;
  margin-top: -2px;
}

.navbar-brand h1 {
  line-height: 1;
  margin: 0;
}

header .btn-primary {
  background-color: $white !important;
  color: $primary !important;
  border: 2px solid $white !important;
  font-weight: 600;
  transition: 0.25s ease;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

header .btn-outline-primary {
  background-color: transparent !important;
  color: $white !important;
  border: 2px solid $white !important;
  font-weight: 600;
  transition: 0.25s ease;
  margin-bottom: 1rem;
}

header .btn-primary:hover,
header .btn-outline-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgb(124, 57, 147);
}

header .btn-primary:active,
header .btn-outline-primary:active {
  transform: translateY(0);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
}

.navbar-toggler {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 2px solid $white;
  background-color: $primary;
  color: $white;
}

.navbar-toggler:hover,
.navbar-toggler:focus-visible {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgb(124, 57, 147);
}

.navbar-toggler:active {
  transform: translateY(0);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  header .btn-primary {
    background-color: $primary !important;
    color: #fff !important;
    border-color: darken($primary, 10%) !important;
  }

  header .btn-outline-primary {
    background-color: transparent !important;
    color: $primary !important;
    border-color: $primary !important;
  }

  header .btn-outline-primary {
    margin-bottom: 0;
  }
}
